fastapi==0.110.0
uvicorn==0.29.0
starlette-prometheus==0.9.0
google-analytics-admin==0.22.7
google-analytics-data==0.18.7
google-api-core==2.18.0
google-api-python-client==2.124.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
opensearch-py==2.4.2
pandas==2.2.1
sqlalchemy==1.4.*
psycopg2==2.9.9
alembic==1.13.1
