fastapi==0.109.0
uvicorn==0.29.0
starlette-prometheus==0.9.0
google-analytics-admin==0.22.2
google-analytics-data==0.18.2
google-api-core==2.15.0
google-api-python-client==2.123.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
opensearch-py==2.4.2
pandas==2.2.0
sqlalchemy==1.4.51
psycopg2==2.9.9
alembic==1.13.1
